@model KoronaBilgi

<form asp-action="Sil" asp-controller="KoronaBilgileri">
    <input type="hidden" asp-for="Id" />
    <p>@Model.Ulke.Ad 'ın korona bilgisi silinecekter? </p>
    <button class="btn btn-success">Sil</button>
</form>
<a asp-action="Index" asp-controller="KoronaBilgileri" class="btn btn-danger">İptal</a>
